@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url(wEO_EBrAnc9BLjLQAUk1VvoO.eot)/*tpa=https://fonts.gstatic.com/s/courgette/v8/wEO_EBrAnc9BLjLQAUk1VvoO.eot*/;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(S6uyw4BMUTPHjx4wWg.eot)/*tpa=https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWg.eot*/;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrU.eot)/*tpa=https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrU.eot*/;
}
